@config "../tailwind.config.js";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
 
@layer base { 
 /* DEVELOPMENT */    
      /* COLOR PALLETES */
      .paletes {
            @apply hidden lg:block;
            position: fixed;
            bottom: 25px;
            left: 0px;
            z-index: 100;

            .palete {
                  display: flex;
                  flex-direction: column;
                  gap: 2px;
                  padding: 1px;
                  color: #fff;

                  span {
                        float: left;
                        width: 15px;
                        height: 30px;
                        margin: 0;
                  }
            }
      }

      /* RESOLUTION INFO*/
      .breakpoints {
            @apply fixed bottom-0 left-0 z-50 text-white border border-white text-sm opacity-80;
           
      }
      .breakpoints:after {
            @apply px-3 py-1 text-black font-bold;
            content: 'XS  < 480 px';
            background: red;
      }        
      @media screen(sm) {
            .breakpoints:after {
                  content: 'SM  480 - 768 px';
                  background: orange;
            }             
      }
      @media screen(md) {
            .breakpoints:after {
                  content: 'MD  768 - 976 px';
                  background: yellow;
            }         
      }   
      @media screen(lg) {
            .breakpoints:after {
                  content: 'LG  976 - 1440 px';
                  background: lime;
            }         
      }  
      @media screen(xl) {
            .breakpoints:after {
                  content: 'XL  > 1440 px';
                  background: green;
                  color: white;
            }         
      }
}



@layer base { 
      @font-face {
            font-family: "Open Sans";
            font-weight: 400;
            font-style: normal;
            src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
      }
 
      @font-face {
            font-family: "Open Sans";
            font-weight: 700;
            font-style: normal;
            src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
      }
/*
      ::selection {
            @apply bg-primary-700 text-white;
      }
      header ::selection,
      #hero ::selection {
            @apply bg-white text-primary-700;
      }
*/

      html, body {
            @apply bg-white text-black;

            background: #f6f6f6;
      }

}


 
.container {
      @apply max-xl:max-w-full;
}

@layer components {
/* RESPONSIVNI HLAVICKA + MENU - desktop */

      header {
     /*       @apply fixed top-0 left-0 right-0 z-50;*/
            @apply absolute top-0 left-0 right-0 z-50 bg-white text-black;
            border-bottom: 1px solid #E7E8EA;
            box-shadow: 0px 12px 16px -4px #00000014;
            
            .container { 
                 
                  .row { 
                        @apply flex justify-between items-center py-3;  
                  }            
            }

            #logo {
                  @apply block uppercase font-bold;
                  font-size: 36px;   
                  line-height: 55px;
            }

      }


      #mobile-nav-open { 
            @apply hidden; 
      }

      #mobile-nav-open + header  {

            #menu-toggle-placeholder {
                  @apply hidden;
                  width: 3rem;
                  height: 3rem;
                  transition: 0.3s ease-in-out all;
            }
            #menu-toggle {
                  @apply flex flex-col items-center justify-center bg-white/20 cursor-pointer;
                  width: 3rem;
                  height: 3rem;
            }
            #menu-toggle span {
                  @apply bg-black;
                  margin: 4px 0;
                  width: 2rem;
                  height: 2px;
                  transform-origin: center center;
                  transition: width 300ms linear, transform 300ms linear;
            
                  &:nth-child(2) {
                        width: 1.7rem;
                  }
            }

            #menu nav ul {
                  @apply flex items-stretch justify-center gap-0;
            }
            #menu nav ul li a {
                  @apply block text-black text-sm uppercase whitespace-nowrap ;
                  @apply py-2 px-8 leading-8 ; 
                  
            }   
            #menu nav ul li.button {
                  @apply pl-10 border-l border-gray-200;

                 a {
                        @apply bg-yellow text-black font-bold;
           
                 }
            }        
            
      }


      /* TABLET/MOBIL < LG */

      @media not all and screen(lg) {

            /* zavrene mobilni menu */
            #mobile-nav-open + header  {

                  #menu-toggle-placeholder {
                        @apply block;
                  }

                  #menu nav {
                        @apply fixed top-[80px] left-0 right-0 ;
                        @apply pt-0 px-8;
                        @apply bg-yellow overflow-hidden;
                        width: 100vw;
                        height: 0;
                        transition: all linear 300ms;  
                  } 
                  #menu nav ul {
                        @apply flex flex-col items-stretch justify-center gap-0 pt-8;

                        li {
                              a {
                                   @apply p-0 py-2 text-lg;
                              }

                              &.button {
                                    @apply bg-transparent p-0 border-0;

                                    a {
                                          @apply font-normal;
                                    }
                              }
                        }
                  }   
            }


            /* otevrene mobilni menu */
            #mobile-nav-open:checked + header {

                  #menu nav {
                        height: 40vh;
                        transition: all linear 300ms;    
                  }

                  #menu-toggle {            
                        span:nth-child(1) {
                              transform: rotate(45deg) translate(7px, 7px);
                        }
                        span:nth-child(2) {
                              transform: rotateY(90deg);
                        }
                        span:nth-child(3) {
                              transform: rotate(-45deg) translate(7px, -7px);
                        }
                  }

            }   
      }
}


.btn-underline {
      @apply relative inline-block uppercase text-white font-bold text-sm leading-8;


      &:before {
            @apply absolute bottom-0 w-0 h-[2px] bg-yellow content-[''];
            transition: all ease 300ms;
      }
      &:hover:before {
            @apply w-full;
      }
}

@layer components {


      section#hero {
            @apply relative w-screen max-h-screen min-h-[70vh] overflow-hidden;

            .container {
                  @apply pt-24 pb-20;
            }

            picture {
                  @apply absolute top-0 left-0 right-0 object-cover;
            }

            #hero-texts {
                  @apply relative max-w-xl py-12;

                  h1 {
                        @apply text-[4rem] font-bold leading-[5rem] pb-6;
                  }
                  p {
                        @apply text-lg text-gray-100;
                  }
            } 
      }


      #hero-carousel {

            .swiper-slide {
                  @apply bg-transparent text-white;
                  width: 305px;
                  height: 305px;


                  > div {
                        @apply relative h-full;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), linear-gradient(41.81deg, rgba(21, 27, 25, 0.5) 0.03%, rgba(0, 0, 0, 0) 100%);
                        background: linear-gradient(41.81deg, rgba(21, 27, 25, 0.5) 0.03%, rgba(0, 0, 0, 0) 100%);


                        h2 {
                              @apply absolute left-4 bottom-4;
                              @apply font-bold text-xl text-white;
                        }
                        img {
                              @apply h-full object-cover opacity-80;
                              mix-blend-mode: multiply;
                        }

                        &.hover {
                              @apply absolute bottom-0 left-0 right-0 h-0 overflow-hidden;
                              @apply flex flex-col justify-between items-stretch;
                              @apply bg-darkblue text-white px-6;              
                              transition: height 300ms linear, padding 300ms linear;
                        }
                  }

                  &:hover div.hover {
                        @apply h-full py-6;

                        transition: height 300ms linear, padding 300ms linear;

                        strong {
                              @apply block pb-4;
                        }
                  }
            }
      }
}
